In [22]:
import pandas as pd
from utils import *
from typing import Any

<h1>Cleaning a CSV</h1>

Read in a CSV

In [23]:
# load a dataframe
infile_path = "../data/raw/silver_shelby_county_properties_municipality_breakdown - s4_2022_idb_contracts.csv"
df = pd.read_csv(infile_path)
df

,Owner,Location,PILOT Parcel No,Underlying Parcel Number,Begin Date,End Date,Assmt Taxes,PILOT Contract Amt,PILOT Debt Service Amt,Difference
0,SMITH & NEPHEW INC,3303 HOLMES,IDB07380000000,9410000003040,07/27/2007,12/31/2022,"$189,356","$8,783","$47,339","-$133,234"
1,RIVIANA FOODS INC,0 LAUDERDALE ST,IDB07590000000,"0490650000001C, 04906700000010, 04900400000090...",12/28/2007,12/31/2019,"$247,301","$215,270","$5,811","-$26,219"
2,SMITH & NEPHEW INC,1450 BROOKS,IDB0760A000000,0007600000000D,12/31/2007,12/31/2021,"$6,214",$100,"$1,553","-$4,560"
3,"NUCOR STEEL MEMPHIS, INC",3601 PAUL R LOWRY,IDB0794A000000,0007940000000D,12/31/2008,12/31/2023,"$712,998",$100,"$178,250","-$534,649"
4,SMITH & NEPHEW INC,1450 BROOKS,IDB0804A000000,0008040000000D,12/31/2008,12/31/2023,"$26,295",$100,"$6,574","-$19,621"
...,...,...,...,...,...,...,...,...,...,...
236,ALPHATEC SPINE,1950 CAMINO VIDA RABLE ALY,IDB18510000000,7410100000290,01/01/2022,12/31/2032,"$37,356","$2,617","$5,448","-$29,292"
237,IMPERIAL,6099 GLOBAL DRIVE,IDB18520000000,9420000005030,07/01/2021,07/01/2031,"$194,240","$5,547","$23,526","-$165,167"
238,RENASANT,5575 POPLAR,IDB18530000000,0560600000001C,07/01/2021,07/01/2031,"$169,927","$66,241","$23,602","-$80,084"
239,EBROFROST - RIVIANA,2360 PROSPECT,IDB18540000000,0490680000004C,01/01/2017,01/01/2024,"$165,717","$92,343","$18,643","-$54,730"
240,THE PALLET FACTORY,3740 ARNOLD ROAD,IDB18550000000,0730920000066C,12/31/2020,12/31/2027,"$19,419","$12,475","$1,736","-$5,208"

In [24]:
# Clean the column headers
df = clean_headers(df, [remove_special_for_words, truncate, snake_case, lower_case])
df.columns

Index(['owner', 'location', 'pilot_parcel_no', 'underlying_parcel_number',
       'begin_date', 'end_date', 'assmt_taxes', 'pilot_contract_amt',
       'pilot_debt_service_amt', 'difference'],
      dtype='object')

In [25]:
# Clean the string columns
string_columns = ["owner", 
                  "location"]
df = clean_columns(df, string_columns, [remove_special_for_words, truncate, lower_case])
df

,owner,location,pilot_parcel_no,underlying_parcel_number,begin_date,end_date,assmt_taxes,pilot_contract_amt,pilot_debt_service_amt,difference
0,smith nephew inc,3303 holmes,IDB07380000000,9410000003040,07/27/2007,12/31/2022,"$189,356","$8,783","$47,339","-$133,234"
1,riviana foods inc,0 lauderdale st,IDB07590000000,"0490650000001C, 04906700000010, 04900400000090...",12/28/2007,12/31/2019,"$247,301","$215,270","$5,811","-$26,219"
2,smith nephew inc,1450 brooks,IDB0760A000000,0007600000000D,12/31/2007,12/31/2021,"$6,214",$100,"$1,553","-$4,560"
3,nucor steel memphis inc,3601 paul r lowry,IDB0794A000000,0007940000000D,12/31/2008,12/31/2023,"$712,998",$100,"$178,250","-$534,649"
4,smith nephew inc,1450 brooks,IDB0804A000000,0008040000000D,12/31/2008,12/31/2023,"$26,295",$100,"$6,574","-$19,621"
...,...,...,...,...,...,...,...,...,...,...
236,alphatec spine,1950 camino vida rable aly,IDB18510000000,7410100000290,01/01/2022,12/31/2032,"$37,356","$2,617","$5,448","-$29,292"
237,imperial,6099 global drive,IDB18520000000,9420000005030,07/01/2021,07/01/2031,"$194,240","$5,547","$23,526","-$165,167"
238,renasant,5575 poplar,IDB18530000000,0560600000001C,07/01/2021,07/01/2031,"$169,927","$66,241","$23,602","-$80,084"
239,ebrofrost riviana,2360 prospect,IDB18540000000,0490680000004C,01/01/2017,01/01/2024,"$165,717","$92,343","$18,643","-$54,730"
240,the pallet factory,3740 arnold road,IDB18550000000,0730920000066C,12/31/2020,12/31/2027,"$19,419","$12,475","$1,736","-$5,208"

In [26]:
df.columns

Index(['owner', 'location', 'pilot_parcel_no', 'underlying_parcel_number',
       'begin_date', 'end_date', 'assmt_taxes', 'pilot_contract_amt',
       'pilot_debt_service_amt', 'difference'],
      dtype='object')

In [27]:
# Clean the numeric columns
numeric_columns = ['assmt_taxes', 'pilot_contract_amt',
       'pilot_debt_service_amt', 'difference']
df = clean_columns(df, numeric_columns, [remove_special_for_numbers, convert_only_dash_to_missing])

df

,owner,location,pilot_parcel_no,underlying_parcel_number,begin_date,end_date,assmt_taxes,pilot_contract_amt,pilot_debt_service_amt,difference
0,smith nephew inc,3303 holmes,IDB07380000000,9410000003040,07/27/2007,12/31/2022,189356,8783,47339,-133234
1,riviana foods inc,0 lauderdale st,IDB07590000000,"0490650000001C, 04906700000010, 04900400000090...",12/28/2007,12/31/2019,247301,215270,5811,-26219
2,smith nephew inc,1450 brooks,IDB0760A000000,0007600000000D,12/31/2007,12/31/2021,6214,100,1553,-4560
3,nucor steel memphis inc,3601 paul r lowry,IDB0794A000000,0007940000000D,12/31/2008,12/31/2023,712998,100,178250,-534649
4,smith nephew inc,1450 brooks,IDB0804A000000,0008040000000D,12/31/2008,12/31/2023,26295,100,6574,-19621
...,...,...,...,...,...,...,...,...,...,...
236,alphatec spine,1950 camino vida rable aly,IDB18510000000,7410100000290,01/01/2022,12/31/2032,37356,2617,5448,-29292
237,imperial,6099 global drive,IDB18520000000,9420000005030,07/01/2021,07/01/2031,194240,5547,23526,-165167
238,renasant,5575 poplar,IDB18530000000,0560600000001C,07/01/2021,07/01/2031,169927,66241,23602,-80084
239,ebrofrost riviana,2360 prospect,IDB18540000000,0490680000004C,01/01/2017,01/01/2024,165717,92343,18643,-54730
240,the pallet factory,3740 arnold road,IDB18550000000,0730920000066C,12/31/2020,12/31/2027,19419,12475,1736,-5208

In [28]:
# Clean the date columns

# Because this data has an idiosyncratic "end date" value of "End of Loan", 
# we must define a dataset-specific function
def cast_end_date_to_datetime(entry: str | Number):
    try:
        return pd.to_datetime(str(entry))
    except ValueError:
        return entry
df["begin_date"] = pd.to_datetime(df["begin_date"])
df["end_date"] = df["end_date"].apply(lambda x: cast_end_date_to_datetime(x))
df

,owner,location,pilot_parcel_no,underlying_parcel_number,begin_date,end_date,assmt_taxes,pilot_contract_amt,pilot_debt_service_amt,difference
0,smith nephew inc,3303 holmes,IDB07380000000,9410000003040,2007-07-27,2022-12-31,189356,8783,47339,-133234
1,riviana foods inc,0 lauderdale st,IDB07590000000,"0490650000001C, 04906700000010, 04900400000090...",2007-12-28,2019-12-31,247301,215270,5811,-26219
2,smith nephew inc,1450 brooks,IDB0760A000000,0007600000000D,2007-12-31,2021-12-31,6214,100,1553,-4560
3,nucor steel memphis inc,3601 paul r lowry,IDB0794A000000,0007940000000D,2008-12-31,2023-12-31,712998,100,178250,-534649
4,smith nephew inc,1450 brooks,IDB0804A000000,0008040000000D,2008-12-31,2023-12-31,26295,100,6574,-19621
...,...,...,...,...,...,...,...,...,...,...
236,alphatec spine,1950 camino vida rable aly,IDB18510000000,7410100000290,2022-01-01,2032-12-31,37356,2617,5448,-29292
237,imperial,6099 global drive,IDB18520000000,9420000005030,2021-07-01,2031-07-01,194240,5547,23526,-165167
238,renasant,5575 poplar,IDB18530000000,0560600000001C,2021-07-01,2031-07-01,169927,66241,23602,-80084
239,ebrofrost riviana,2360 prospect,IDB18540000000,0490680000004C,2017-01-01,2024-01-01,165717,92343,18643,-54730
240,the pallet factory,3740 arnold road,IDB18550000000,0730920000066C,2020-12-31,2027-12-31,19419,12475,1736,-5208

In [29]:
# Clean the list columns

# Pandas always reads in lists as strings, so they will ultimately be converted to a string type, but putting them in lists firsts will allow us to convert them back to lists more quickly the next time we read them in because the list brackets will be included 
# in the output string

list_columns = ["pilot_parcel_no", "underlying_parcel_number"]
for col in list_columns:
    df[col] = df[col].apply(lambda x: str(x).split(","))
df

,owner,location,pilot_parcel_no,underlying_parcel_number,begin_date,end_date,assmt_taxes,pilot_contract_amt,pilot_debt_service_amt,difference
0,smith nephew inc,3303 holmes,[IDB07380000000],[9410000003040],2007-07-27,2022-12-31,189356,8783,47339,-133234
1,riviana foods inc,0 lauderdale st,[IDB07590000000],"[0490650000001C, 04906700000010, 04900400000...",2007-12-28,2019-12-31,247301,215270,5811,-26219
2,smith nephew inc,1450 brooks,[IDB0760A000000],[0007600000000D],2007-12-31,2021-12-31,6214,100,1553,-4560
3,nucor steel memphis inc,3601 paul r lowry,[IDB0794A000000],[0007940000000D],2008-12-31,2023-12-31,712998,100,178250,-534649
4,smith nephew inc,1450 brooks,[IDB0804A000000],[0008040000000D],2008-12-31,2023-12-31,26295,100,6574,-19621
...,...,...,...,...,...,...,...,...,...,...
236,alphatec spine,1950 camino vida rable aly,[IDB18510000000],[7410100000290],2022-01-01,2032-12-31,37356,2617,5448,-29292
237,imperial,6099 global drive,[IDB18520000000],[9420000005030],2021-07-01,2031-07-01,194240,5547,23526,-165167
238,renasant,5575 poplar,[IDB18530000000],[0560600000001C],2021-07-01,2031-07-01,169927,66241,23602,-80084
239,ebrofrost riviana,2360 prospect,[IDB18540000000],[0490680000004C],2017-01-01,2024-01-01,165717,92343,18643,-54730
240,the pallet factory,3740 arnold road,[IDB18550000000],[0730920000066C],2020-12-31,2027-12-31,19419,12475,1736,-5208

In [30]:
# Create a unique index column based on the values in the identifying column
# Note: Ids are based on a deterministic hash, which means they are 
# reproducible even if the function is run by a different user at a different time,
# as long as the string in the identifying column is the same. 

identifying_columns = ["owner"]
index_name = "owner_id"
df = set_unique_index(df=df, columns_to_hash = identifying_columns, index_length_limit=12, index_name=index_name)
df

,owner,location,pilot_parcel_no,underlying_parcel_number,begin_date,end_date,assmt_taxes,pilot_contract_amt,pilot_debt_service_amt,difference
owner_id,,,,,,,,,,
1381477d4a08,smith nephew inc,3303 holmes,[IDB07380000000],[9410000003040],2007-07-27,2022-12-31,189356,8783,47339,-133234
a865c500e56c,riviana foods inc,0 lauderdale st,[IDB07590000000],"[0490650000001C, 04906700000010, 04900400000...",2007-12-28,2019-12-31,247301,215270,5811,-26219
1381477d4a08,smith nephew inc,1450 brooks,[IDB0760A000000],[0007600000000D],2007-12-31,2021-12-31,6214,100,1553,-4560
d6645cf714fb,nucor steel memphis inc,3601 paul r lowry,[IDB0794A000000],[0007940000000D],2008-12-31,2023-12-31,712998,100,178250,-534649
1381477d4a08,smith nephew inc,1450 brooks,[IDB0804A000000],[0008040000000D],2008-12-31,2023-12-31,26295,100,6574,-19621
...,...,...,...,...,...,...,...,...,...,...
7e23b7e9fdf7,alphatec spine,1950 camino vida rable aly,[IDB18510000000],[7410100000290],2022-01-01,2032-12-31,37356,2617,5448,-29292
407bf6c8c143,imperial,6099 global drive,[IDB18520000000],[9420000005030],2021-07-01,2031-07-01,194240,5547,23526,-165167
c78df44fa4ed,renasant,5575 poplar,[IDB18530000000],[0560600000001C],2021-07-01,2031-07-01,169927,66241,23602,-80084
2c157c47bb22,ebrofrost riviana,2360 prospect,[IDB18540000000],[0490680000004C],2017-01-01,2024-01-01,165717,92343,18643,-54730
f1f6ae50704c,the pallet factory,3740 arnold road,[IDB18550000000],[0730920000066C],2020-12-31,2027-12-31,19419,12475,1736,-5208

In [31]:
# Check the data types of each variable
df.dtypes

owner                               object
location                            object
pilot_parcel_no                     object
underlying_parcel_number            object
begin_date                  datetime64[ns]
end_date                    datetime64[ns]
assmt_taxes                         object
pilot_contract_amt                  object
pilot_debt_service_amt              object
difference                          object
dtype: object

In [32]:
# Fix the data type of each variable

names_to_types = {'owner': 'string',
                  'location': 'string',
                  'pilot_parcel_no': 'string', 
                  'underlying_parcel_number': 'string',
                  'begin_date': 'datetime64[ns]', 
                  'end_date': 'object',
                  'assmt_taxes': 'float64',
                  'pilot_contract_amt': 'float64',
       'pilot_debt_service_amt': 'float64', 
                  'difference': 'float64'}
df = cast_data_types(df, names_to_types)
df.dtypes

owner                       string[python]
location                    string[python]
pilot_parcel_no             string[python]
underlying_parcel_number    string[python]
begin_date                  datetime64[ns]
end_date                            object
assmt_taxes                        float64
pilot_contract_amt                 float64
pilot_debt_service_amt             float64
difference                         float64
dtype: object

In [33]:
# Save the now-clean csv and convert it to utf-8 format
outfile_path = "../data/processed/s4_2022_idb_contracts.csv"
df.to_csv(outfile_path)
convert_utf8(original_file_path=outfile_path, new_file_path=outfile_path)