In [38]:
import pandas as pd
from utils import *
from typing import Any

<h1>Cleaning a CSV</h1>

Read in a CSV

In [39]:
# load a dataframe
infile_path = "../data/raw/silver_shelby_county_properties_municipality_breakdown - s3_2022_icc_contracts.csv"
df = pd.read_csv(infile_path)
df

,Owner,Location,PILOT Parcel No,Underlying Parcel Number,Begin Date,End Date,Assmt Taxes,PILOT Contract Amt,PILOT Debt Service Amt,Difference
0,RIVERBLUFF COOPERATIVE,333 TENNESSEE,ICC00110000000,0020740000002C,11/30/1981,11/30/2080,"$162,735","$101,709",$0,"-$61,026"
1,"COTTON EXCHANGE BLDG, A LIMITED PARTNERSHIP",65 UNION,ICC00270000000,204200000290,12/01/1983,01/01/2024,"$57,526","$7,320",$0,"-$50,206"
2,THREE SISTERS LTD,61 MAIN,ICC00290000000,"00203900000140, 00203900000150, 00203900000160",12/23/1983,12/30/2025,"$62,878","$15,029",$0,"-$47,849"
3,RAYMOND JAMES TOWER - MORGAN KEEGAN,50 FRONT,ICC00410000000,200600000240,12/27/1984,12/27/2024,"$162,720","$6,113",$0,"-$156,607"
4,MAIN MONROE HOSPITALITY 2018 - MEMPHIS HOTEL P...,110 MONROE,ICC00450000000,205700000090,12/31/1984,12/31/2025,"$115,157","$2,691",$0,"-$112,466"
...,...,...,...,...,...,...,...,...,...,...
119,"TCH Memphis, LLC",380 BEALE ST,ICC08020000000,500600000290,03/31/2021,03/31/2034,"$5,211","$6,327",$0,"$1,116"
120,"189 Barksdale, LLC",189 S BARKSDALE ST,ICC08030000000,1605100000060,04/29/2021,04/29/2033,"$3,570","$3,570",$0,$0
121,"7V Devco, LLC",7 VANCE AVE,ICC08040000000,0020750000001C,10/27/2021,04/27/2041,"$6,836","$7,947",$0,"$1,112"
122,Cabigao Investments,345 S MAIN,ICC08050000000,"00210300000050, 00210300000140",06/30/2021,06/30/2034,"$3,420","$4,027",$10,$617
123,"245 FRONT STREET HOTEL COMPANY, LLC",245 S FRONT ST,ICC08060000000,209900000010,12/01/2022,07/02/2039,"$6,125","$1,048",$0,"-$5,077"

In [40]:
# Clean the column headers
df = clean_headers(df, [remove_special_for_words, truncate, snake_case, lower_case])
df.columns

Index(['owner', 'location', 'pilot_parcel_no', 'underlying_parcel_number',
       'begin_date', 'end_date', 'assmt_taxes', 'pilot_contract_amt',
       'pilot_debt_service_amt', 'difference'],
      dtype='object')

In [41]:
# Clean the string columns
string_columns = ["owner", 
                  "location"]
df = clean_columns(df, string_columns, [remove_special_for_words, truncate, lower_case])
df

,owner,location,pilot_parcel_no,underlying_parcel_number,begin_date,end_date,assmt_taxes,pilot_contract_amt,pilot_debt_service_amt,difference
0,riverbluff cooperative,333 tennessee,ICC00110000000,0020740000002C,11/30/1981,11/30/2080,"$162,735","$101,709",$0,"-$61,026"
1,cotton exchange bldg a limited partnership,65 union,ICC00270000000,204200000290,12/01/1983,01/01/2024,"$57,526","$7,320",$0,"-$50,206"
2,three sisters ltd,61 main,ICC00290000000,"00203900000140, 00203900000150, 00203900000160",12/23/1983,12/30/2025,"$62,878","$15,029",$0,"-$47,849"
3,raymond james tower morgan keegan,50 front,ICC00410000000,200600000240,12/27/1984,12/27/2024,"$162,720","$6,113",$0,"-$156,607"
4,main monroe hospitality 2018 memphis hotel pro...,110 monroe,ICC00450000000,205700000090,12/31/1984,12/31/2025,"$115,157","$2,691",$0,"-$112,466"
...,...,...,...,...,...,...,...,...,...,...
119,tch memphis llc,380 beale st,ICC08020000000,500600000290,03/31/2021,03/31/2034,"$5,211","$6,327",$0,"$1,116"
120,189 barksdale llc,189 s barksdale st,ICC08030000000,1605100000060,04/29/2021,04/29/2033,"$3,570","$3,570",$0,$0
121,7v devco llc,7 vance ave,ICC08040000000,0020750000001C,10/27/2021,04/27/2041,"$6,836","$7,947",$0,"$1,112"
122,cabigao investments,345 s main,ICC08050000000,"00210300000050, 00210300000140",06/30/2021,06/30/2034,"$3,420","$4,027",$10,$617
123,245 front street hotel company llc,245 s front st,ICC08060000000,209900000010,12/01/2022,07/02/2039,"$6,125","$1,048",$0,"-$5,077"

In [42]:
df.columns

Index(['owner', 'location', 'pilot_parcel_no', 'underlying_parcel_number',
       'begin_date', 'end_date', 'assmt_taxes', 'pilot_contract_amt',
       'pilot_debt_service_amt', 'difference'],
      dtype='object')

In [43]:
# Clean the numeric columns
numeric_columns = ['assmt_taxes', 'pilot_contract_amt',
       'pilot_debt_service_amt', 'difference']
df = clean_columns(df, numeric_columns, [remove_special_for_numbers, convert_only_dash_to_missing])

df

,owner,location,pilot_parcel_no,underlying_parcel_number,begin_date,end_date,assmt_taxes,pilot_contract_amt,pilot_debt_service_amt,difference
0,riverbluff cooperative,333 tennessee,ICC00110000000,0020740000002C,11/30/1981,11/30/2080,162735,101709,0,-61026
1,cotton exchange bldg a limited partnership,65 union,ICC00270000000,204200000290,12/01/1983,01/01/2024,57526,7320,0,-50206
2,three sisters ltd,61 main,ICC00290000000,"00203900000140, 00203900000150, 00203900000160",12/23/1983,12/30/2025,62878,15029,0,-47849
3,raymond james tower morgan keegan,50 front,ICC00410000000,200600000240,12/27/1984,12/27/2024,162720,6113,0,-156607
4,main monroe hospitality 2018 memphis hotel pro...,110 monroe,ICC00450000000,205700000090,12/31/1984,12/31/2025,115157,2691,0,-112466
...,...,...,...,...,...,...,...,...,...,...
119,tch memphis llc,380 beale st,ICC08020000000,500600000290,03/31/2021,03/31/2034,5211,6327,0,1116
120,189 barksdale llc,189 s barksdale st,ICC08030000000,1605100000060,04/29/2021,04/29/2033,3570,3570,0,0
121,7v devco llc,7 vance ave,ICC08040000000,0020750000001C,10/27/2021,04/27/2041,6836,7947,0,1112
122,cabigao investments,345 s main,ICC08050000000,"00210300000050, 00210300000140",06/30/2021,06/30/2034,3420,4027,10,617
123,245 front street hotel company llc,245 s front st,ICC08060000000,209900000010,12/01/2022,07/02/2039,6125,1048,0,-5077

In [44]:
# Clean the date columns

# Because this data has an idiosyncratic "end date" value of "End of Loan", 
# we must define a dataset-specific function
def cast_end_date_to_datetime(entry: str | Number):
    try:
        return pd.to_datetime(str(entry))
    except ValueError:
        return entry
df["begin_date"] = pd.to_datetime(df["begin_date"])
df["end_date"] = df["end_date"].apply(lambda x: cast_end_date_to_datetime(x))
df

,owner,location,pilot_parcel_no,underlying_parcel_number,begin_date,end_date,assmt_taxes,pilot_contract_amt,pilot_debt_service_amt,difference
0,riverbluff cooperative,333 tennessee,ICC00110000000,0020740000002C,1981-11-30,2080-11-30,162735,101709,0,-61026
1,cotton exchange bldg a limited partnership,65 union,ICC00270000000,204200000290,1983-12-01,2024-01-01,57526,7320,0,-50206
2,three sisters ltd,61 main,ICC00290000000,"00203900000140, 00203900000150, 00203900000160",1983-12-23,2025-12-30,62878,15029,0,-47849
3,raymond james tower morgan keegan,50 front,ICC00410000000,200600000240,1984-12-27,2024-12-27,162720,6113,0,-156607
4,main monroe hospitality 2018 memphis hotel pro...,110 monroe,ICC00450000000,205700000090,1984-12-31,2025-12-31,115157,2691,0,-112466
...,...,...,...,...,...,...,...,...,...,...
119,tch memphis llc,380 beale st,ICC08020000000,500600000290,2021-03-31,2034-03-31,5211,6327,0,1116
120,189 barksdale llc,189 s barksdale st,ICC08030000000,1605100000060,2021-04-29,2033-04-29,3570,3570,0,0
121,7v devco llc,7 vance ave,ICC08040000000,0020750000001C,2021-10-27,2041-04-27,6836,7947,0,1112
122,cabigao investments,345 s main,ICC08050000000,"00210300000050, 00210300000140",2021-06-30,2034-06-30,3420,4027,10,617
123,245 front street hotel company llc,245 s front st,ICC08060000000,209900000010,2022-12-01,2039-07-02,6125,1048,0,-5077

In [45]:
# Clean the list columns

# Pandas always reads in lists as strings, so they will ultimately be converted to a string type, but putting them in lists firsts will allow us to convert them back to lists more quickly the next time we read them in because the list brackets will be included 
# in the output string

list_columns = ["pilot_parcel_no", "underlying_parcel_number"]
for col in list_columns:
    df[col] = df[col].apply(lambda x: str(x).split(","))
df

,owner,location,pilot_parcel_no,underlying_parcel_number,begin_date,end_date,assmt_taxes,pilot_contract_amt,pilot_debt_service_amt,difference
0,riverbluff cooperative,333 tennessee,[ICC00110000000],[0020740000002C],1981-11-30,2080-11-30,162735,101709,0,-61026
1,cotton exchange bldg a limited partnership,65 union,[ICC00270000000],[204200000290],1983-12-01,2024-01-01,57526,7320,0,-50206
2,three sisters ltd,61 main,[ICC00290000000],"[00203900000140, 00203900000150, 00203900000...",1983-12-23,2025-12-30,62878,15029,0,-47849
3,raymond james tower morgan keegan,50 front,[ICC00410000000],[200600000240],1984-12-27,2024-12-27,162720,6113,0,-156607
4,main monroe hospitality 2018 memphis hotel pro...,110 monroe,[ICC00450000000],[205700000090],1984-12-31,2025-12-31,115157,2691,0,-112466
...,...,...,...,...,...,...,...,...,...,...
119,tch memphis llc,380 beale st,[ICC08020000000],[500600000290],2021-03-31,2034-03-31,5211,6327,0,1116
120,189 barksdale llc,189 s barksdale st,[ICC08030000000],[1605100000060],2021-04-29,2033-04-29,3570,3570,0,0
121,7v devco llc,7 vance ave,[ICC08040000000],[0020750000001C],2021-10-27,2041-04-27,6836,7947,0,1112
122,cabigao investments,345 s main,[ICC08050000000],"[00210300000050, 00210300000140]",2021-06-30,2034-06-30,3420,4027,10,617
123,245 front street hotel company llc,245 s front st,[ICC08060000000],[209900000010],2022-12-01,2039-07-02,6125,1048,0,-5077

In [47]:
# Create a unique index column based on the values in the identifying column
# Note: Ids are based on a deterministic hash, which means they are 
# reproducible even if the function is run by a different user at a different time,
# as long as the string in the identifying column is the same. 

identifying_columns = ["owner"]
index_name = "owner_id"
df = set_unique_index(df=df, columns_to_hash = identifying_columns, index_length_limit=12, index_name=index_name)
df

,owner,location,pilot_parcel_no,underlying_parcel_number,begin_date,end_date,assmt_taxes,pilot_contract_amt,pilot_debt_service_amt,difference
owner_id,,,,,,,,,,
54b4d5c12241,riverbluff cooperative,333 tennessee,[ICC00110000000],[0020740000002C],1981-11-30,2080-11-30,162735,101709,0,-61026
7a21a11b110c,cotton exchange bldg a limited partnership,65 union,[ICC00270000000],[204200000290],1983-12-01,2024-01-01,57526,7320,0,-50206
6ddf11772c54,three sisters ltd,61 main,[ICC00290000000],"[00203900000140, 00203900000150, 00203900000...",1983-12-23,2025-12-30,62878,15029,0,-47849
4e595a78a7c4,raymond james tower morgan keegan,50 front,[ICC00410000000],[200600000240],1984-12-27,2024-12-27,162720,6113,0,-156607
57dce25d5f20,main monroe hospitality 2018 memphis hotel pro...,110 monroe,[ICC00450000000],[205700000090],1984-12-31,2025-12-31,115157,2691,0,-112466
...,...,...,...,...,...,...,...,...,...,...
5903f8604d7e,tch memphis llc,380 beale st,[ICC08020000000],[500600000290],2021-03-31,2034-03-31,5211,6327,0,1116
a91c364d5ca6,189 barksdale llc,189 s barksdale st,[ICC08030000000],[1605100000060],2021-04-29,2033-04-29,3570,3570,0,0
811ef8806200,7v devco llc,7 vance ave,[ICC08040000000],[0020750000001C],2021-10-27,2041-04-27,6836,7947,0,1112
b1fff5fac201,cabigao investments,345 s main,[ICC08050000000],"[00210300000050, 00210300000140]",2021-06-30,2034-06-30,3420,4027,10,617
51898eb27d45,245 front street hotel company llc,245 s front st,[ICC08060000000],[209900000010],2022-12-01,2039-07-02,6125,1048,0,-5077

In [48]:
# Check the data types of each variable
df.dtypes

owner                               object
location                            object
pilot_parcel_no                     object
underlying_parcel_number            object
begin_date                  datetime64[ns]
end_date                    datetime64[ns]
assmt_taxes                         object
pilot_contract_amt                  object
pilot_debt_service_amt              object
difference                          object
dtype: object

In [49]:
# Fix the data type of each variable

names_to_types = {'owner': 'string',
                  'location': 'string',
                  'pilot_parcel_no': 'string', 
                  'underlying_parcel_number': 'string',
                  'begin_date': 'datetime64[ns]', 
                  'end_date': 'object',
                  'assmt_taxes': 'float64',
                  'pilot_contract_amt': 'float64',
       'pilot_debt_service_amt': 'float64', 
                  'difference': 'float64'}
df = cast_data_types(df, names_to_types)
df.dtypes

owner                       string[python]
location                    string[python]
pilot_parcel_no             string[python]
underlying_parcel_number    string[python]
begin_date                  datetime64[ns]
end_date                            object
assmt_taxes                        float64
pilot_contract_amt                 float64
pilot_debt_service_amt             float64
difference                         float64
dtype: object

In [50]:
# Save the now-clean csv and convert it to utf-8 format
outfile_path = "../data/processed/s3_2022_icc_contracts.csv"
df.to_csv(outfile_path)
convert_utf8(original_file_path=outfile_path, new_file_path=outfile_path)