In [13]:
import pandas as pd
from utils import *
from typing import Any

<h1>Cleaning a CSV</h1>

Read in a CSV

In [14]:
# load a dataframe
infile_path = "../data/raw/silver_shelby_county_properties_municipality_breakdown - s9_2022_idb_arlington.csv"
df = pd.read_csv(infile_path)
df

,Owner,Location,PILOT Parcel No,Underlying Parcel Number,Begin Date,End Date,Assmt Taxes,PILOT Contract Amt,PILOT Debt Service Amt,Difference
0,MICROPORT ORTHOPEDICS INC,11481 GULF STREAM,IDB0000A000090,A0141000001560,10/29/2009,10/28/2020,"$3,729","$3,729",$0,$0
1,MICROPORT ORTHOPEDICS INC,5677 AIRLINE,IDB0000A00010A,3000100000000D,12/31/2010,12/31/2021,"$24,914","$24,914",$0,$0
2,MICROPORT ORTHOPEDICS INC,5677 AIRLINE,IDB0000A00012A,3000120000000D,12/31/2014,12/31/2029,"$6,733",$100,"$1,683","-$4,949"
3,"WRIGHT MEDICAL TECHNOLOGY, INC",0 MEMPHIS-ARLINGTON,IDB0000A000140,A0141L0A000040,12/31/2014,12/31/2024,"$62,901","$62,901",$0,$0
4,"WRIGHT MEDICAL TECHNOLOGY, INC",11576 MEMPHIS-ARLINGTON,IDB0000A00015A,3000150000000D,12/31/2014,12/31/2024,"$12,884","$12,884",$0,$0
5,MICROPORT ORTHOPEDICS INC,5640 & 5650 AIRLINE,IDB0000A000160,"A0142000004050 ,A0142000007860",12/31/2014,12/31/2028,"$85,273","$8,579","$21,318","-$55,376"
6,MICROPORT ORTHOPEDICS INC,5677 AIRLINE,IDB0000A00017A,3000170000000D,12/31/2015,12/31/2030,"$7,548",$100,"$1,887","-$5,561"
7,MICROPORT ORTHOPEDICS INC,5677 AIRLINE,IDB0000A00018A,3000180000000D,12/31/2016,12/31/2031,"$11,473",$100,"$2,868","-$8,505"
8,HMD WRIGHT LLC,0 MEMPHIS-ARLINGTON,IDB0000A000190,A0141L0A000340,05/01/2019,05/01/2029,"$85,222","$2,796","$21,305","-$61,121"
9,"WRIGHT MEDICAL TECHNOLOGY, INC",11576 MEMPHIS ARLINGTON,IDB0000A00020A,3000160000000D,12/31/2015,12/31/2025,"$1,240",$100,$310,-$830

In [15]:
# Clean the column headers
df = clean_headers(df, [remove_special_for_words, truncate, snake_case, lower_case])
df.columns

Index(['owner', 'location', 'pilot_parcel_no', 'underlying_parcel_number',
       'begin_date', 'end_date', 'assmt_taxes', 'pilot_contract_amt',
       'pilot_debt_service_amt', 'difference'],
      dtype='object')

In [16]:
# Clean the string columns
string_columns = ["owner", 
                  "location"]
df = clean_columns(df, string_columns, [remove_special_for_words, truncate, lower_case])
df

,owner,location,pilot_parcel_no,underlying_parcel_number,begin_date,end_date,assmt_taxes,pilot_contract_amt,pilot_debt_service_amt,difference
0,microport orthopedics inc,11481 gulf stream,IDB0000A000090,A0141000001560,10/29/2009,10/28/2020,"$3,729","$3,729",$0,$0
1,microport orthopedics inc,5677 airline,IDB0000A00010A,3000100000000D,12/31/2010,12/31/2021,"$24,914","$24,914",$0,$0
2,microport orthopedics inc,5677 airline,IDB0000A00012A,3000120000000D,12/31/2014,12/31/2029,"$6,733",$100,"$1,683","-$4,949"
3,wright medical technology inc,0 memphis arlington,IDB0000A000140,A0141L0A000040,12/31/2014,12/31/2024,"$62,901","$62,901",$0,$0
4,wright medical technology inc,11576 memphis arlington,IDB0000A00015A,3000150000000D,12/31/2014,12/31/2024,"$12,884","$12,884",$0,$0
5,microport orthopedics inc,5640 5650 airline,IDB0000A000160,"A0142000004050 ,A0142000007860",12/31/2014,12/31/2028,"$85,273","$8,579","$21,318","-$55,376"
6,microport orthopedics inc,5677 airline,IDB0000A00017A,3000170000000D,12/31/2015,12/31/2030,"$7,548",$100,"$1,887","-$5,561"
7,microport orthopedics inc,5677 airline,IDB0000A00018A,3000180000000D,12/31/2016,12/31/2031,"$11,473",$100,"$2,868","-$8,505"
8,hmd wright llc,0 memphis arlington,IDB0000A000190,A0141L0A000340,05/01/2019,05/01/2029,"$85,222","$2,796","$21,305","-$61,121"
9,wright medical technology inc,11576 memphis arlington,IDB0000A00020A,3000160000000D,12/31/2015,12/31/2025,"$1,240",$100,$310,-$830

In [17]:
df.columns

Index(['owner', 'location', 'pilot_parcel_no', 'underlying_parcel_number',
       'begin_date', 'end_date', 'assmt_taxes', 'pilot_contract_amt',
       'pilot_debt_service_amt', 'difference'],
      dtype='object')

In [18]:
# Clean the numeric columns
numeric_columns = ['assmt_taxes', 'pilot_contract_amt',
       'pilot_debt_service_amt', 'difference']
df = clean_columns(df, numeric_columns, [remove_special_for_numbers, convert_only_dash_to_missing])

df

,owner,location,pilot_parcel_no,underlying_parcel_number,begin_date,end_date,assmt_taxes,pilot_contract_amt,pilot_debt_service_amt,difference
0,microport orthopedics inc,11481 gulf stream,IDB0000A000090,A0141000001560,10/29/2009,10/28/2020,3729,3729,0,0
1,microport orthopedics inc,5677 airline,IDB0000A00010A,3000100000000D,12/31/2010,12/31/2021,24914,24914,0,0
2,microport orthopedics inc,5677 airline,IDB0000A00012A,3000120000000D,12/31/2014,12/31/2029,6733,100,1683,-4949
3,wright medical technology inc,0 memphis arlington,IDB0000A000140,A0141L0A000040,12/31/2014,12/31/2024,62901,62901,0,0
4,wright medical technology inc,11576 memphis arlington,IDB0000A00015A,3000150000000D,12/31/2014,12/31/2024,12884,12884,0,0
5,microport orthopedics inc,5640 5650 airline,IDB0000A000160,"A0142000004050 ,A0142000007860",12/31/2014,12/31/2028,85273,8579,21318,-55376
6,microport orthopedics inc,5677 airline,IDB0000A00017A,3000170000000D,12/31/2015,12/31/2030,7548,100,1887,-5561
7,microport orthopedics inc,5677 airline,IDB0000A00018A,3000180000000D,12/31/2016,12/31/2031,11473,100,2868,-8505
8,hmd wright llc,0 memphis arlington,IDB0000A000190,A0141L0A000340,05/01/2019,05/01/2029,85222,2796,21305,-61121
9,wright medical technology inc,11576 memphis arlington,IDB0000A00020A,3000160000000D,12/31/2015,12/31/2025,1240,100,310,-830

In [19]:
# Clean the date columns

# Because this data has an idiosyncratic "end date" value of "End of Loan", 
# we must define a dataset-specific function
def cast_end_date_to_datetime(entry: str | Number):
    try:
        return pd.to_datetime(str(entry))
    except ValueError:
        return entry
df["begin_date"] = pd.to_datetime(df["begin_date"])
df["end_date"] = df["end_date"].apply(lambda x: cast_end_date_to_datetime(x))
df

,owner,location,pilot_parcel_no,underlying_parcel_number,begin_date,end_date,assmt_taxes,pilot_contract_amt,pilot_debt_service_amt,difference
0,microport orthopedics inc,11481 gulf stream,IDB0000A000090,A0141000001560,2009-10-29,2020-10-28,3729,3729,0,0
1,microport orthopedics inc,5677 airline,IDB0000A00010A,3000100000000D,2010-12-31,2021-12-31,24914,24914,0,0
2,microport orthopedics inc,5677 airline,IDB0000A00012A,3000120000000D,2014-12-31,2029-12-31,6733,100,1683,-4949
3,wright medical technology inc,0 memphis arlington,IDB0000A000140,A0141L0A000040,2014-12-31,2024-12-31,62901,62901,0,0
4,wright medical technology inc,11576 memphis arlington,IDB0000A00015A,3000150000000D,2014-12-31,2024-12-31,12884,12884,0,0
5,microport orthopedics inc,5640 5650 airline,IDB0000A000160,"A0142000004050 ,A0142000007860",2014-12-31,2028-12-31,85273,8579,21318,-55376
6,microport orthopedics inc,5677 airline,IDB0000A00017A,3000170000000D,2015-12-31,2030-12-31,7548,100,1887,-5561
7,microport orthopedics inc,5677 airline,IDB0000A00018A,3000180000000D,2016-12-31,2031-12-31,11473,100,2868,-8505
8,hmd wright llc,0 memphis arlington,IDB0000A000190,A0141L0A000340,2019-05-01,2029-05-01,85222,2796,21305,-61121
9,wright medical technology inc,11576 memphis arlington,IDB0000A00020A,3000160000000D,2015-12-31,2025-12-31,1240,100,310,-830

In [20]:
# Clean the list columns

# Pandas always reads in lists as strings, so they will ultimately be converted to a string type, but putting them in lists firsts will allow us to convert them back to lists more quickly the next time we read them in because the list brackets will be included 
# in the output string

list_columns = ["pilot_parcel_no", "underlying_parcel_number"]
for col in list_columns:
    df[col] = df[col].apply(lambda x: str(x).split(","))
df

,owner,location,pilot_parcel_no,underlying_parcel_number,begin_date,end_date,assmt_taxes,pilot_contract_amt,pilot_debt_service_amt,difference
0,microport orthopedics inc,11481 gulf stream,[IDB0000A000090],[A0141000001560],2009-10-29,2020-10-28,3729,3729,0,0
1,microport orthopedics inc,5677 airline,[IDB0000A00010A],[3000100000000D],2010-12-31,2021-12-31,24914,24914,0,0
2,microport orthopedics inc,5677 airline,[IDB0000A00012A],[3000120000000D],2014-12-31,2029-12-31,6733,100,1683,-4949
3,wright medical technology inc,0 memphis arlington,[IDB0000A000140],[A0141L0A000040],2014-12-31,2024-12-31,62901,62901,0,0
4,wright medical technology inc,11576 memphis arlington,[IDB0000A00015A],[3000150000000D],2014-12-31,2024-12-31,12884,12884,0,0
5,microport orthopedics inc,5640 5650 airline,[IDB0000A000160],"[A0142000004050 , A0142000007860]",2014-12-31,2028-12-31,85273,8579,21318,-55376
6,microport orthopedics inc,5677 airline,[IDB0000A00017A],[3000170000000D],2015-12-31,2030-12-31,7548,100,1887,-5561
7,microport orthopedics inc,5677 airline,[IDB0000A00018A],[3000180000000D],2016-12-31,2031-12-31,11473,100,2868,-8505
8,hmd wright llc,0 memphis arlington,[IDB0000A000190],[A0141L0A000340],2019-05-01,2029-05-01,85222,2796,21305,-61121
9,wright medical technology inc,11576 memphis arlington,[IDB0000A00020A],[3000160000000D],2015-12-31,2025-12-31,1240,100,310,-830

In [21]:
# Create a unique index column based on the values in the identifying column
# Note: Ids are based on a deterministic hash, which means they are 
# reproducible even if the function is run by a different user at a different time,
# as long as the string in the identifying column is the same. 

identifying_columns = ["owner"]
index_name = "owner_id"
df = set_unique_index(df=df, columns_to_hash = identifying_columns, index_length_limit=12, index_name=index_name)
df

,owner,location,pilot_parcel_no,underlying_parcel_number,begin_date,end_date,assmt_taxes,pilot_contract_amt,pilot_debt_service_amt,difference
owner_id,,,,,,,,,,
8ce75c30bfa5,microport orthopedics inc,11481 gulf stream,[IDB0000A000090],[A0141000001560],2009-10-29,2020-10-28,3729,3729,0,0
8ce75c30bfa5,microport orthopedics inc,5677 airline,[IDB0000A00010A],[3000100000000D],2010-12-31,2021-12-31,24914,24914,0,0
8ce75c30bfa5,microport orthopedics inc,5677 airline,[IDB0000A00012A],[3000120000000D],2014-12-31,2029-12-31,6733,100,1683,-4949
d436d1c9a0ff,wright medical technology inc,0 memphis arlington,[IDB0000A000140],[A0141L0A000040],2014-12-31,2024-12-31,62901,62901,0,0
d436d1c9a0ff,wright medical technology inc,11576 memphis arlington,[IDB0000A00015A],[3000150000000D],2014-12-31,2024-12-31,12884,12884,0,0
8ce75c30bfa5,microport orthopedics inc,5640 5650 airline,[IDB0000A000160],"[A0142000004050 , A0142000007860]",2014-12-31,2028-12-31,85273,8579,21318,-55376
8ce75c30bfa5,microport orthopedics inc,5677 airline,[IDB0000A00017A],[3000170000000D],2015-12-31,2030-12-31,7548,100,1887,-5561
8ce75c30bfa5,microport orthopedics inc,5677 airline,[IDB0000A00018A],[3000180000000D],2016-12-31,2031-12-31,11473,100,2868,-8505
b0e661555130,hmd wright llc,0 memphis arlington,[IDB0000A000190],[A0141L0A000340],2019-05-01,2029-05-01,85222,2796,21305,-61121
d436d1c9a0ff,wright medical technology inc,11576 memphis arlington,[IDB0000A00020A],[3000160000000D],2015-12-31,2025-12-31,1240,100,310,-830

In [22]:
# Check the data types of each variable
df.dtypes

owner                               object
location                            object
pilot_parcel_no                     object
underlying_parcel_number            object
begin_date                  datetime64[ns]
end_date                    datetime64[ns]
assmt_taxes                         object
pilot_contract_amt                  object
pilot_debt_service_amt              object
difference                          object
dtype: object

In [23]:
# Fix the data type of each variable

names_to_types = {'owner': 'string',
                  'location': 'string',
                  'pilot_parcel_no': 'string', 
                  'underlying_parcel_number': 'string',
                  'begin_date': 'datetime64[ns]', 
                  'end_date': 'object',
                  'assmt_taxes': 'float64',
                  'pilot_contract_amt': 'float64',
       'pilot_debt_service_amt': 'float64', 
                  'difference': 'float64'}
df = cast_data_types(df, names_to_types)
df.dtypes

owner                       string[python]
location                    string[python]
pilot_parcel_no             string[python]
underlying_parcel_number    string[python]
begin_date                  datetime64[ns]
end_date                            object
assmt_taxes                        float64
pilot_contract_amt                 float64
pilot_debt_service_amt             float64
difference                         float64
dtype: object

In [24]:
# Save the now-clean csv and convert it to utf-8 format
outfile_path = "../data/processed/s9_2022_idb_arlington.csv"
df.to_csv(outfile_path)
convert_utf8(original_file_path=outfile_path, new_file_path=outfile_path)