In [1]:
import pandas as pd
from utils import *

<h1>Cleaning a CSV</h1>

Read in a CSV

In [2]:
# load a dataframe
infile_path = "../data/raw/silver_shelby_county_properties_municipality_breakdown - s2_in_lieu_contracts_by_owner.csv"
df = pd.read_csv(infile_path)
df

,Owner,Location,PILOT Parcel No,Underlying Parcel Number,Begin Date,End Date,Assmt Taxes,PILOT Contract Amt,PILOT Debt Service Amt,Difference
0,1 SOUTH MAIN LLC - WILMONT HOTEL LIMITED PARTN...,79 MADISON,ICC03900000000,"00203800000020, 00203800000030, 00203800000060...",08/02/2000,08/02/2024,"$240,731","$180,548",$0,"-$60,183"
1,100 SOUTH MAIN PARTNERS,100 MAIN,ICC07260000000,"0020530B000010, 0020530B000030",12/23/2008,12/23/2023,"$112,054","$3,070","$27,246","-$81,738"
2,1030 POPLAR LLC,1030 POPLAR,ICC07900000000,0200900000007C,06/15/2021,06/15/2034,"$6,722","$6,722",$0,$0
3,109 SOUTH SECOND PARTNERSHIP,109 SECOND,ICC07380000000,205300000130,04/07/2011,04/07/2024,"$79,863","$3,486","$19,094","-$57,283"
4,115 UNION AVE LLC,115 UNION,ICC07330000000,205300000020,03/29/2011,03/29/2021,"$29,104","$29,104",$0,$0
...,...,...,...,...,...,...,...,...,...,...
522,"WRIGHT MEDICAL TECHNOLOGY, INC",1023 CHERRY,IDB1590A000000,0015900000000D,12/31/2016,12/31/2031,"$5,522",$100,"$1,381","-$4,042"
523,"WRIGHT MEDICAL TECHNOLOGY, INC",0 MEMPHIS-ARLINGTON,IDB0000A000140,A0141L0A000040,12/31/2014,12/31/2024,"$62,901","$62,901",$0,$0
524,"WRIGHT MEDICAL TECHNOLOGY, INC",11576 MEMPHIS-ARLINGTON,IDB0000A00015A,3000150000000D,12/31/2014,12/31/2024,"$12,884","$12,884",$0,$0
525,"WRIGHT MEDICAL TECHNOLOGY, INC",11576 MEMPHIS ARLINGTON,IDB0000A00020A,3000160000000D,12/31/2015,12/31/2025,"$1,240",$100,$310,-$830
526,"WS HCHEM, LLC",0 WINCHESTER,IDB0000C000160,C024400A006820,06/01/2016,06/01/2023,"$129,117","$129,117",$0,$0

In [3]:
# Clean the column headers
df = clean_headers(df, [remove_special_for_words, truncate, snake_case, lower_case])
df.columns

Index(['owner', 'location', 'pilot_parcel_no', 'underlying_parcel_number',
       'begin_date', 'end_date', 'assmt_taxes', 'pilot_contract_amt',
       'pilot_debt_service_amt', 'difference'],
      dtype='object')

In [4]:
# Clean the string columns
string_columns = ["owner", 
                  "location"]
df = clean_columns(df, string_columns, [remove_special_for_words, truncate, lower_case])
df

,owner,location,pilot_parcel_no,underlying_parcel_number,begin_date,end_date,assmt_taxes,pilot_contract_amt,pilot_debt_service_amt,difference
0,1 south main llc wilmont hotel limited partner...,79 madison,ICC03900000000,"00203800000020, 00203800000030, 00203800000060...",08/02/2000,08/02/2024,"$240,731","$180,548",$0,"-$60,183"
1,100 south main partners,100 main,ICC07260000000,"0020530B000010, 0020530B000030",12/23/2008,12/23/2023,"$112,054","$3,070","$27,246","-$81,738"
2,1030 poplar llc,1030 poplar,ICC07900000000,0200900000007C,06/15/2021,06/15/2034,"$6,722","$6,722",$0,$0
3,109 south second partnership,109 second,ICC07380000000,205300000130,04/07/2011,04/07/2024,"$79,863","$3,486","$19,094","-$57,283"
4,115 union ave llc,115 union,ICC07330000000,205300000020,03/29/2011,03/29/2021,"$29,104","$29,104",$0,$0
...,...,...,...,...,...,...,...,...,...,...
522,wright medical technology inc,1023 cherry,IDB1590A000000,0015900000000D,12/31/2016,12/31/2031,"$5,522",$100,"$1,381","-$4,042"
523,wright medical technology inc,0 memphis arlington,IDB0000A000140,A0141L0A000040,12/31/2014,12/31/2024,"$62,901","$62,901",$0,$0
524,wright medical technology inc,11576 memphis arlington,IDB0000A00015A,3000150000000D,12/31/2014,12/31/2024,"$12,884","$12,884",$0,$0
525,wright medical technology inc,11576 memphis arlington,IDB0000A00020A,3000160000000D,12/31/2015,12/31/2025,"$1,240",$100,$310,-$830
526,ws hchem llc,0 winchester,IDB0000C000160,C024400A006820,06/01/2016,06/01/2023,"$129,117","$129,117",$0,$0

In [5]:
df.columns

Index(['owner', 'location', 'pilot_parcel_no', 'underlying_parcel_number',
       'begin_date', 'end_date', 'assmt_taxes', 'pilot_contract_amt',
       'pilot_debt_service_amt', 'difference'],
      dtype='object')

In [6]:
# Clean the numeric columns
numeric_columns = ['assmt_taxes', 'pilot_contract_amt',
       'pilot_debt_service_amt', 'difference']
df = clean_columns(df, numeric_columns, [remove_special_for_numbers])
df

,owner,location,pilot_parcel_no,underlying_parcel_number,begin_date,end_date,assmt_taxes,pilot_contract_amt,pilot_debt_service_amt,difference
0,1 south main llc wilmont hotel limited partner...,79 madison,ICC03900000000,"00203800000020, 00203800000030, 00203800000060...",08/02/2000,08/02/2024,240731,180548,0,-60183
1,100 south main partners,100 main,ICC07260000000,"0020530B000010, 0020530B000030",12/23/2008,12/23/2023,112054,3070,27246,-81738
2,1030 poplar llc,1030 poplar,ICC07900000000,0200900000007C,06/15/2021,06/15/2034,6722,6722,0,0
3,109 south second partnership,109 second,ICC07380000000,205300000130,04/07/2011,04/07/2024,79863,3486,19094,-57283
4,115 union ave llc,115 union,ICC07330000000,205300000020,03/29/2011,03/29/2021,29104,29104,0,0
...,...,...,...,...,...,...,...,...,...,...
522,wright medical technology inc,1023 cherry,IDB1590A000000,0015900000000D,12/31/2016,12/31/2031,5522,100,1381,-4042
523,wright medical technology inc,0 memphis arlington,IDB0000A000140,A0141L0A000040,12/31/2014,12/31/2024,62901,62901,0,0
524,wright medical technology inc,11576 memphis arlington,IDB0000A00015A,3000150000000D,12/31/2014,12/31/2024,12884,12884,0,0
525,wright medical technology inc,11576 memphis arlington,IDB0000A00020A,3000160000000D,12/31/2015,12/31/2025,1240,100,310,-830
526,ws hchem llc,0 winchester,IDB0000C000160,C024400A006820,06/01/2016,06/01/2023,129117,129117,0,0

In [7]:
# Check the data types of each variable
df.dtypes

owner                       object
location                    object
pilot_parcel_no             object
underlying_parcel_number    object
begin_date                  object
end_date                    object
assmt_taxes                 object
pilot_contract_amt          object
pilot_debt_service_amt      object
difference                  object
dtype: object

In [8]:
# Fix the data type of each variable
names_to_types = {"board": str, 
                  "number_of_contracts": int, 
                  "amount_billed_pilot_inl": float, 
                  "amount_billed_debt_service": float, 
                  "assessment": float,
                  "tax_based_on_assessment_at_2021_tax_rate": float, 
                  "difference": float,
                  "percentage_total_pilot_billing": float,
                  }
df = cast_data_types(df, names_to_types)
df.dtypes

board                                        object
number_of_contracts                           int64
amount_billed_pilot_inl                     float64
amount_billed_debt_service                  float64
assessment                                  float64
tax_based_on_assessment_at_2021_tax_rate    float64
difference                                  float64
percentage_total_pilot_billing              float64
dtype: object

In [9]:
# Create a unique index column based on the values in the identifying column
# Note: Ids are based on a deterministic hash, which means they are 
# reproducible even if the function is run by a different user at a different time,
# as long as the string in the identifying column is the same. 

identifying_columns = ["board"]
df = set_unique_index(df=df, columns_to_hash = identifying_columns, index_length_limit=12)
df

,board,number_of_contracts,amount_billed_pilot_inl,amount_billed_debt_service,assessment,tax_based_on_assessment_at_2021_tax_rate,difference,percentage_total_pilot_billing
id,,,,,,,,
5b1f4c0c65a3,downtown memphis commission,124,2265277.82,1378186.61,403472360.0,13677713.00,-10034248.57,20.05
d5fe3a85ec4e,edge shelby,241,4357705.55,5922590.25,845013990.0,28645974.26,-18365678.46,56.57
abb34861ca91,industrial development of arlington,10,116203.75,49372.12,8906110.0,301917.13,-136341.26,0.91
aada4183f85c,industrial development of bartlett,6,21998.39,47646.73,7340910.0,248856.85,-179211.73,0.38
91e543f3085f,industrial development of collierville,12,690322.00,914883.78,103923710.0,3523013.77,-1917807.99,8.83
3f1cf0abc31c,industrial development of germantown,4,310191.18,211034.77,34051040.0,1154330.26,-633104.31,2.87
757a7152194c,industrial development of millington,1,50530.09,80385.75,10751680.0,364481.95,-233566.11,0.72
3bcfcbd3a12d,health education board memphis,107,1627887.89,0.00,245059120.0,8307504.17,-6679616.28,8.96
64c9e33b120e,health education board shelby,6,88595.41,0.00,30543560.0,1035426.68,-946831.27,0.49
df3a7c5fc143,miscellaneous contracts,10,35460.00,0.00,10528400.0,356912.76,-321452.76,0.20
ac18571846b6,city county government contracts,5,5868.72,0.00,3371400.0,114290.46,-108421.74,0.03

In [10]:
# Save the now-clean csv and convert it to utf-8 format
outfile_path = "../data/processed/s2_in_lieu_contracts_by_owner.csv"
df.to_csv(outfile_path)
convert_utf8(original_file_path=outfile_path, new_file_path=outfile_path)