In [32]:
import pandas as pd
from utils import *

<h1>Cleaning a CSV</h1>

Read in a CSV

In [33]:
# load a dataframe
infile_path = "../data/raw/silver_shelby_county_properties_municipality_breakdown - s2_in_lieu_contracts_by_owner.csv"
df = pd.read_csv(infile_path)
df

,Owner,Location,PILOT Parcel No,Underlying Parcel Number,Begin Date,End Date,Assmt Taxes,PILOT Contract Amt,PILOT Debt Service Amt,Difference
0,1 SOUTH MAIN LLC - WILMONT HOTEL LIMITED PARTN...,79 MADISON,ICC03900000000,"00203800000020, 00203800000030, 00203800000060...",08/02/2000,08/02/2024,"$240,731","$180,548",$0,"-$60,183"
1,100 SOUTH MAIN PARTNERS,100 MAIN,ICC07260000000,"0020530B000010, 0020530B000030",12/23/2008,12/23/2023,"$112,054","$3,070","$27,246","-$81,738"
2,1030 POPLAR LLC,1030 POPLAR,ICC07900000000,0200900000007C,06/15/2021,06/15/2034,"$6,722","$6,722",$0,$0
3,109 SOUTH SECOND PARTNERSHIP,109 SECOND,ICC07380000000,205300000130,04/07/2011,04/07/2024,"$79,863","$3,486","$19,094","-$57,283"
4,115 UNION AVE LLC,115 UNION,ICC07330000000,205300000020,03/29/2011,03/29/2021,"$29,104","$29,104",$0,$0
...,...,...,...,...,...,...,...,...,...,...
522,"WRIGHT MEDICAL TECHNOLOGY, INC",1023 CHERRY,IDB1590A000000,0015900000000D,12/31/2016,12/31/2031,"$5,522",$100,"$1,381","-$4,042"
523,"WRIGHT MEDICAL TECHNOLOGY, INC",0 MEMPHIS-ARLINGTON,IDB0000A000140,A0141L0A000040,12/31/2014,12/31/2024,"$62,901","$62,901",$0,$0
524,"WRIGHT MEDICAL TECHNOLOGY, INC",11576 MEMPHIS-ARLINGTON,IDB0000A00015A,3000150000000D,12/31/2014,12/31/2024,"$12,884","$12,884",$0,$0
525,"WRIGHT MEDICAL TECHNOLOGY, INC",11576 MEMPHIS ARLINGTON,IDB0000A00020A,3000160000000D,12/31/2015,12/31/2025,"$1,240",$100,$310,-$830
526,"WS HCHEM, LLC",0 WINCHESTER,IDB0000C000160,C024400A006820,06/01/2016,06/01/2023,"$129,117","$129,117",$0,$0

In [34]:
# Clean the column headers
df = clean_headers(df, [remove_special_for_words, truncate, snake_case, lower_case])
df.columns

Index(['owner', 'location', 'pilot_parcel_no', 'underlying_parcel_number',
       'begin_date', 'end_date', 'assmt_taxes', 'pilot_contract_amt',
       'pilot_debt_service_amt', 'difference'],
      dtype='object')

In [35]:
# Clean the string columns
string_columns = ["owner", 
                  "location"]
df = clean_columns(df, string_columns, [remove_special_for_words, truncate, lower_case])
df

,owner,location,pilot_parcel_no,underlying_parcel_number,begin_date,end_date,assmt_taxes,pilot_contract_amt,pilot_debt_service_amt,difference
0,1 south main llc wilmont hotel limited partner...,79 madison,ICC03900000000,"00203800000020, 00203800000030, 00203800000060...",08/02/2000,08/02/2024,"$240,731","$180,548",$0,"-$60,183"
1,100 south main partners,100 main,ICC07260000000,"0020530B000010, 0020530B000030",12/23/2008,12/23/2023,"$112,054","$3,070","$27,246","-$81,738"
2,1030 poplar llc,1030 poplar,ICC07900000000,0200900000007C,06/15/2021,06/15/2034,"$6,722","$6,722",$0,$0
3,109 south second partnership,109 second,ICC07380000000,205300000130,04/07/2011,04/07/2024,"$79,863","$3,486","$19,094","-$57,283"
4,115 union ave llc,115 union,ICC07330000000,205300000020,03/29/2011,03/29/2021,"$29,104","$29,104",$0,$0
...,...,...,...,...,...,...,...,...,...,...
522,wright medical technology inc,1023 cherry,IDB1590A000000,0015900000000D,12/31/2016,12/31/2031,"$5,522",$100,"$1,381","-$4,042"
523,wright medical technology inc,0 memphis arlington,IDB0000A000140,A0141L0A000040,12/31/2014,12/31/2024,"$62,901","$62,901",$0,$0
524,wright medical technology inc,11576 memphis arlington,IDB0000A00015A,3000150000000D,12/31/2014,12/31/2024,"$12,884","$12,884",$0,$0
525,wright medical technology inc,11576 memphis arlington,IDB0000A00020A,3000160000000D,12/31/2015,12/31/2025,"$1,240",$100,$310,-$830
526,ws hchem llc,0 winchester,IDB0000C000160,C024400A006820,06/01/2016,06/01/2023,"$129,117","$129,117",$0,$0

In [36]:
df.columns

Index(['owner', 'location', 'pilot_parcel_no', 'underlying_parcel_number',
       'begin_date', 'end_date', 'assmt_taxes', 'pilot_contract_amt',
       'pilot_debt_service_amt', 'difference'],
      dtype='object')

In [37]:
# Clean the numeric columns
numeric_columns = ['assmt_taxes', 'pilot_contract_amt',
       'pilot_debt_service_amt', 'difference']
df = clean_columns(df, numeric_columns, [remove_special_for_numbers])
df

,owner,location,pilot_parcel_no,underlying_parcel_number,begin_date,end_date,assmt_taxes,pilot_contract_amt,pilot_debt_service_amt,difference
0,1 south main llc wilmont hotel limited partner...,79 madison,ICC03900000000,"00203800000020, 00203800000030, 00203800000060...",08/02/2000,08/02/2024,240731,180548,0,-60183
1,100 south main partners,100 main,ICC07260000000,"0020530B000010, 0020530B000030",12/23/2008,12/23/2023,112054,3070,27246,-81738
2,1030 poplar llc,1030 poplar,ICC07900000000,0200900000007C,06/15/2021,06/15/2034,6722,6722,0,0
3,109 south second partnership,109 second,ICC07380000000,205300000130,04/07/2011,04/07/2024,79863,3486,19094,-57283
4,115 union ave llc,115 union,ICC07330000000,205300000020,03/29/2011,03/29/2021,29104,29104,0,0
...,...,...,...,...,...,...,...,...,...,...
522,wright medical technology inc,1023 cherry,IDB1590A000000,0015900000000D,12/31/2016,12/31/2031,5522,100,1381,-4042
523,wright medical technology inc,0 memphis arlington,IDB0000A000140,A0141L0A000040,12/31/2014,12/31/2024,62901,62901,0,0
524,wright medical technology inc,11576 memphis arlington,IDB0000A00015A,3000150000000D,12/31/2014,12/31/2024,12884,12884,0,0
525,wright medical technology inc,11576 memphis arlington,IDB0000A00020A,3000160000000D,12/31/2015,12/31/2025,1240,100,310,-830
526,ws hchem llc,0 winchester,IDB0000C000160,C024400A006820,06/01/2016,06/01/2023,129117,129117,0,0

In [38]:
# Clean the date columns

# Because this data has an idiosyncratic "end date" value of "End of Loan", 
# we must define a dataset-specific function
def cast_end_date_to_datetime(entry: str | Number):
    try:
        return pd.to_datetime(str(entry))
    except ValueError:
        return entry
df["begin_date"] = pd.to_datetime(df["begin_date"])
df["end_date"] = df["end_date"].apply(lambda x: cast_end_date_to_datetime(x))
df

,owner,location,pilot_parcel_no,underlying_parcel_number,begin_date,end_date,assmt_taxes,pilot_contract_amt,pilot_debt_service_amt,difference
0,1 south main llc wilmont hotel limited partner...,79 madison,ICC03900000000,"00203800000020, 00203800000030, 00203800000060...",2000-08-02,2024-08-02 00:00:00,240731,180548,0,-60183
1,100 south main partners,100 main,ICC07260000000,"0020530B000010, 0020530B000030",2008-12-23,2023-12-23 00:00:00,112054,3070,27246,-81738
2,1030 poplar llc,1030 poplar,ICC07900000000,0200900000007C,2021-06-15,2034-06-15 00:00:00,6722,6722,0,0
3,109 south second partnership,109 second,ICC07380000000,205300000130,2011-04-07,2024-04-07 00:00:00,79863,3486,19094,-57283
4,115 union ave llc,115 union,ICC07330000000,205300000020,2011-03-29,2021-03-29 00:00:00,29104,29104,0,0
...,...,...,...,...,...,...,...,...,...,...
522,wright medical technology inc,1023 cherry,IDB1590A000000,0015900000000D,2016-12-31,2031-12-31 00:00:00,5522,100,1381,-4042
523,wright medical technology inc,0 memphis arlington,IDB0000A000140,A0141L0A000040,2014-12-31,2024-12-31 00:00:00,62901,62901,0,0
524,wright medical technology inc,11576 memphis arlington,IDB0000A00015A,3000150000000D,2014-12-31,2024-12-31 00:00:00,12884,12884,0,0
525,wright medical technology inc,11576 memphis arlington,IDB0000A00020A,3000160000000D,2015-12-31,2025-12-31 00:00:00,1240,100,310,-830
526,ws hchem llc,0 winchester,IDB0000C000160,C024400A006820,2016-06-01,2023-06-01 00:00:00,129117,129117,0,0

In [40]:
# Clean the list columns

# Pandas always reads in lists as strings, so they will ultimately be converted to a string type, but putting them in lists firsts will allow us to convert them back to lists more quickly the next time we read them in because the list brackets will be included 
# in the output string

list_columns = ["pilot_parcel_no", "underlying_parcel_number"]
for col in list_columns:
    df[col] = df[col].apply(lambda x: str(x).split(","))
df

,owner,location,pilot_parcel_no,underlying_parcel_number,begin_date,end_date,assmt_taxes,pilot_contract_amt,pilot_debt_service_amt,difference
0,1 south main llc wilmont hotel limited partner...,79 madison,[ICC03900000000],"[00203800000020, 00203800000030, 00203800000...",2000-08-02,2024-08-02 00:00:00,240731,180548,0,-60183
1,100 south main partners,100 main,[ICC07260000000],"[0020530B000010, 0020530B000030]",2008-12-23,2023-12-23 00:00:00,112054,3070,27246,-81738
2,1030 poplar llc,1030 poplar,[ICC07900000000],[0200900000007C],2021-06-15,2034-06-15 00:00:00,6722,6722,0,0
3,109 south second partnership,109 second,[ICC07380000000],[205300000130],2011-04-07,2024-04-07 00:00:00,79863,3486,19094,-57283
4,115 union ave llc,115 union,[ICC07330000000],[205300000020],2011-03-29,2021-03-29 00:00:00,29104,29104,0,0
...,...,...,...,...,...,...,...,...,...,...
522,wright medical technology inc,1023 cherry,[IDB1590A000000],[0015900000000D],2016-12-31,2031-12-31 00:00:00,5522,100,1381,-4042
523,wright medical technology inc,0 memphis arlington,[IDB0000A000140],[A0141L0A000040],2014-12-31,2024-12-31 00:00:00,62901,62901,0,0
524,wright medical technology inc,11576 memphis arlington,[IDB0000A00015A],[3000150000000D],2014-12-31,2024-12-31 00:00:00,12884,12884,0,0
525,wright medical technology inc,11576 memphis arlington,[IDB0000A00020A],[3000160000000D],2015-12-31,2025-12-31 00:00:00,1240,100,310,-830
526,ws hchem llc,0 winchester,[IDB0000C000160],[C024400A006820],2016-06-01,2023-06-01 00:00:00,129117,129117,0,0

In [43]:
# Create a unique index column based on the values in the identifying column
# Note: Ids are based on a deterministic hash, which means they are 
# reproducible even if the function is run by a different user at a different time,
# as long as the string in the identifying column is the same. 

identifying_columns = ["owner"]
df = set_unique_index(df=df, columns_to_hash = identifying_columns, index_length_limit=12)
df

,owner,location,pilot_parcel_no,underlying_parcel_number,begin_date,end_date,assmt_taxes,pilot_contract_amt,pilot_debt_service_amt,difference
id,,,,,,,,,,
4d492ee75e30,1 south main llc wilmont hotel limited partner...,79 madison,['ICC03900000000'],"['00203800000020', ' 00203800000030', ' 002038...",2000-08-02,2024-08-02 00:00:00,240731.0,180548.0,0.0,-60183.0
468725c9628c,100 south main partners,100 main,['ICC07260000000'],"['0020530B000010', ' 0020530B000030']",2008-12-23,2023-12-23 00:00:00,112054.0,3070.0,27246.0,-81738.0
b39884512460,1030 poplar llc,1030 poplar,['ICC07900000000'],['0200900000007C'],2021-06-15,2034-06-15 00:00:00,6722.0,6722.0,0.0,0.0
f26dc5a380c1,109 south second partnership,109 second,['ICC07380000000'],['205300000130'],2011-04-07,2024-04-07 00:00:00,79863.0,3486.0,19094.0,-57283.0
129ab94e175b,115 union ave llc,115 union,['ICC07330000000'],['205300000020'],2011-03-29,2021-03-29 00:00:00,29104.0,29104.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
d436d1c9a0ff,wright medical technology inc,1023 cherry,['IDB1590A000000'],['0015900000000D'],2016-12-31,2031-12-31 00:00:00,5522.0,100.0,1381.0,-4042.0
d436d1c9a0ff,wright medical technology inc,0 memphis arlington,['IDB0000A000140'],['A0141L0A000040'],2014-12-31,2024-12-31 00:00:00,62901.0,62901.0,0.0,0.0
d436d1c9a0ff,wright medical technology inc,11576 memphis arlington,['IDB0000A00015A'],['3000150000000D'],2014-12-31,2024-12-31 00:00:00,12884.0,12884.0,0.0,0.0
d436d1c9a0ff,wright medical technology inc,11576 memphis arlington,['IDB0000A00020A'],['3000160000000D'],2015-12-31,2025-12-31 00:00:00,1240.0,100.0,310.0,-830.0
ccc41295a670,ws hchem llc,0 winchester,['IDB0000C000160'],['C024400A006820'],2016-06-01,2023-06-01 00:00:00,129117.0,129117.0,0.0,0.0

In [41]:
# Check the data types of each variable
df.dtypes

owner                               object
location                            object
pilot_parcel_no                     object
underlying_parcel_number            object
begin_date                  datetime64[ns]
end_date                            object
assmt_taxes                         object
pilot_contract_amt                  object
pilot_debt_service_amt              object
difference                          object
dtype: object

In [46]:
# Fix the data type of each variable

names_to_types = {'owner': 'string',
                  'location': 'string',
                  'pilot_parcel_no': 'string', 
                  'underlying_parcel_number': 'string',
                  'begin_date': 'datetime64[ns]', 
                  'end_date': 'object',
                  'assmt_taxes': 'float64',
                  'pilot_contract_amt': 'float64',
       'pilot_debt_service_amt': 'float64', 
                  'difference': 'float64'}
df = cast_data_types(df, names_to_types)
df.dtypes

owner                       string[python]
location                    string[python]
pilot_parcel_no             string[python]
underlying_parcel_number    string[python]
begin_date                  datetime64[ns]
end_date                            object
assmt_taxes                        float64
pilot_contract_amt                 float64
pilot_debt_service_amt             float64
difference                         float64
dtype: object

In [47]:
# Save the now-clean csv and convert it to utf-8 format
outfile_path = "../data/processed/s2_in_lieu_contracts_by_owner.csv"
df.to_csv(outfile_path)
convert_utf8(original_file_path=outfile_path, new_file_path=outfile_path)