In [13]:
import pandas as pd
from utils import *
from typing import Any

<h1>Cleaning a CSV</h1>

Read in a CSV

In [14]:
# load a dataframe
infile_path = "../data/raw/silver_shelby_county_properties_municipality_breakdown - s10_2022_idb_bartlett.csv"
df = pd.read_csv(infile_path)
df

,Owner,Location,PILOT Parcel No,Underlying Parcel Number,Begin Date,End Date,Assmt Taxes,PILOT Contract Amt,PILOT Debt Service Amt,Difference
0,ELITE MEDICAL LLC,8415 WOLF LAKE,IDB0000B00015A,4000150000000D,12/31/2016,12/31/2022,$635,$0,$159,-$476
1,"BRIMHALL FOOD COMPANY, INC",7472 A E BEATY,IDB0000B000160,B0158000004630,01/01/2018,01/01/2025,"$64,506","$4,987","$14,880","-$44,639"
2,ODYSSEY MEDICAL TECHNOLOGY,2975 BROTHER,IDB0000B000170,B0158J0A00006C,03/07/2019,03/07/2029,"$43,698","$4,011","$9,922","-$29,766"
3,ODYSSEY MEDICAL TECHNOLOGY,1406 STONEWALL,IDB0000B00017A,178100000000,01/01/2020,12/31/2029,"$9,410",$0,"$2,353","-$7,058"
4,ENGINEERED MEDICAL SYSTEMS LLC,3325 APPLING,IDB0000B000180,B015800000679C,01/01/2020,01/31/2036,"$91,188","$13,000","$10,479","-$67,709"
5,ENGINEERED MEDICAL SYSTEMS LLC,3325 APPLING,IDB0000B00018A,178300000000,01/01/2020,12/31/2026,"$39,419",$0,"$9,855","-$29,564"

In [15]:
# Clean the column headers
df = clean_headers(df, [remove_special_for_words, truncate, snake_case, lower_case])
df.columns

Index(['owner', 'location', 'pilot_parcel_no', 'underlying_parcel_number',
       'begin_date', 'end_date', 'assmt_taxes', 'pilot_contract_amt',
       'pilot_debt_service_amt', 'difference'],
      dtype='object')

In [16]:
# Clean the string columns
string_columns = ["owner", 
                  "location"]
df = clean_columns(df, string_columns, [remove_special_for_words, truncate, lower_case])
df

,owner,location,pilot_parcel_no,underlying_parcel_number,begin_date,end_date,assmt_taxes,pilot_contract_amt,pilot_debt_service_amt,difference
0,elite medical llc,8415 wolf lake,IDB0000B00015A,4000150000000D,12/31/2016,12/31/2022,$635,$0,$159,-$476
1,brimhall food company inc,7472 a e beaty,IDB0000B000160,B0158000004630,01/01/2018,01/01/2025,"$64,506","$4,987","$14,880","-$44,639"
2,odyssey medical technology,2975 brother,IDB0000B000170,B0158J0A00006C,03/07/2019,03/07/2029,"$43,698","$4,011","$9,922","-$29,766"
3,odyssey medical technology,1406 stonewall,IDB0000B00017A,178100000000,01/01/2020,12/31/2029,"$9,410",$0,"$2,353","-$7,058"
4,engineered medical systems llc,3325 appling,IDB0000B000180,B015800000679C,01/01/2020,01/31/2036,"$91,188","$13,000","$10,479","-$67,709"
5,engineered medical systems llc,3325 appling,IDB0000B00018A,178300000000,01/01/2020,12/31/2026,"$39,419",$0,"$9,855","-$29,564"

In [17]:
df.columns

Index(['owner', 'location', 'pilot_parcel_no', 'underlying_parcel_number',
       'begin_date', 'end_date', 'assmt_taxes', 'pilot_contract_amt',
       'pilot_debt_service_amt', 'difference'],
      dtype='object')

In [18]:
# Clean the numeric columns
numeric_columns = ['assmt_taxes', 'pilot_contract_amt',
       'pilot_debt_service_amt', 'difference']
df = clean_columns(df, numeric_columns, [remove_special_for_numbers, convert_only_dash_to_missing])

df

,owner,location,pilot_parcel_no,underlying_parcel_number,begin_date,end_date,assmt_taxes,pilot_contract_amt,pilot_debt_service_amt,difference
0,elite medical llc,8415 wolf lake,IDB0000B00015A,4000150000000D,12/31/2016,12/31/2022,635,0,159,-476
1,brimhall food company inc,7472 a e beaty,IDB0000B000160,B0158000004630,01/01/2018,01/01/2025,64506,4987,14880,-44639
2,odyssey medical technology,2975 brother,IDB0000B000170,B0158J0A00006C,03/07/2019,03/07/2029,43698,4011,9922,-29766
3,odyssey medical technology,1406 stonewall,IDB0000B00017A,178100000000,01/01/2020,12/31/2029,9410,0,2353,-7058
4,engineered medical systems llc,3325 appling,IDB0000B000180,B015800000679C,01/01/2020,01/31/2036,91188,13000,10479,-67709
5,engineered medical systems llc,3325 appling,IDB0000B00018A,178300000000,01/01/2020,12/31/2026,39419,0,9855,-29564

In [19]:
# Clean the date columns

# Because this data has an idiosyncratic "end date" value of "End of Loan", 
# we must define a dataset-specific function
def cast_end_date_to_datetime(entry: str | Number):
    try:
        return pd.to_datetime(str(entry))
    except ValueError:
        return entry
df["begin_date"] = pd.to_datetime(df["begin_date"])
df["end_date"] = df["end_date"].apply(lambda x: cast_end_date_to_datetime(x))
df

,owner,location,pilot_parcel_no,underlying_parcel_number,begin_date,end_date,assmt_taxes,pilot_contract_amt,pilot_debt_service_amt,difference
0,elite medical llc,8415 wolf lake,IDB0000B00015A,4000150000000D,2016-12-31,2022-12-31,635,0,159,-476
1,brimhall food company inc,7472 a e beaty,IDB0000B000160,B0158000004630,2018-01-01,2025-01-01,64506,4987,14880,-44639
2,odyssey medical technology,2975 brother,IDB0000B000170,B0158J0A00006C,2019-03-07,2029-03-07,43698,4011,9922,-29766
3,odyssey medical technology,1406 stonewall,IDB0000B00017A,178100000000,2020-01-01,2029-12-31,9410,0,2353,-7058
4,engineered medical systems llc,3325 appling,IDB0000B000180,B015800000679C,2020-01-01,2036-01-31,91188,13000,10479,-67709
5,engineered medical systems llc,3325 appling,IDB0000B00018A,178300000000,2020-01-01,2026-12-31,39419,0,9855,-29564

In [20]:
# Clean the list columns

# Pandas always reads in lists as strings, so they will ultimately be converted to a string type, but putting them in lists firsts will allow us to convert them back to lists more quickly the next time we read them in because the list brackets will be included 
# in the output string

list_columns = ["pilot_parcel_no", "underlying_parcel_number"]
for col in list_columns:
    df[col] = df[col].apply(lambda x: str(x).split(","))
df

,owner,location,pilot_parcel_no,underlying_parcel_number,begin_date,end_date,assmt_taxes,pilot_contract_amt,pilot_debt_service_amt,difference
0,elite medical llc,8415 wolf lake,[IDB0000B00015A],[4000150000000D],2016-12-31,2022-12-31,635,0,159,-476
1,brimhall food company inc,7472 a e beaty,[IDB0000B000160],[B0158000004630],2018-01-01,2025-01-01,64506,4987,14880,-44639
2,odyssey medical technology,2975 brother,[IDB0000B000170],[B0158J0A00006C],2019-03-07,2029-03-07,43698,4011,9922,-29766
3,odyssey medical technology,1406 stonewall,[IDB0000B00017A],[178100000000],2020-01-01,2029-12-31,9410,0,2353,-7058
4,engineered medical systems llc,3325 appling,[IDB0000B000180],[B015800000679C],2020-01-01,2036-01-31,91188,13000,10479,-67709
5,engineered medical systems llc,3325 appling,[IDB0000B00018A],[178300000000],2020-01-01,2026-12-31,39419,0,9855,-29564

In [21]:
# Create a unique index column based on the values in the identifying column
# Note: Ids are based on a deterministic hash, which means they are 
# reproducible even if the function is run by a different user at a different time,
# as long as the string in the identifying column is the same. 

identifying_columns = ["owner"]
index_name = "owner_id"
df = set_unique_index(df=df, columns_to_hash = identifying_columns, index_length_limit=12, index_name=index_name)
df

,owner,location,pilot_parcel_no,underlying_parcel_number,begin_date,end_date,assmt_taxes,pilot_contract_amt,pilot_debt_service_amt,difference
owner_id,,,,,,,,,,
e03dd30dbca4,elite medical llc,8415 wolf lake,[IDB0000B00015A],[4000150000000D],2016-12-31,2022-12-31,635,0,159,-476
3146b9a8076b,brimhall food company inc,7472 a e beaty,[IDB0000B000160],[B0158000004630],2018-01-01,2025-01-01,64506,4987,14880,-44639
85fcec8878f2,odyssey medical technology,2975 brother,[IDB0000B000170],[B0158J0A00006C],2019-03-07,2029-03-07,43698,4011,9922,-29766
85fcec8878f2,odyssey medical technology,1406 stonewall,[IDB0000B00017A],[178100000000],2020-01-01,2029-12-31,9410,0,2353,-7058
0033451dcd0d,engineered medical systems llc,3325 appling,[IDB0000B000180],[B015800000679C],2020-01-01,2036-01-31,91188,13000,10479,-67709
0033451dcd0d,engineered medical systems llc,3325 appling,[IDB0000B00018A],[178300000000],2020-01-01,2026-12-31,39419,0,9855,-29564

In [22]:
# Check the data types of each variable
df.dtypes

owner                               object
location                            object
pilot_parcel_no                     object
underlying_parcel_number            object
begin_date                  datetime64[ns]
end_date                    datetime64[ns]
assmt_taxes                         object
pilot_contract_amt                  object
pilot_debt_service_amt              object
difference                          object
dtype: object

In [23]:
# Fix the data type of each variable

names_to_types = {'owner': 'string',
                  'location': 'string',
                  'pilot_parcel_no': 'string', 
                  'underlying_parcel_number': 'string',
                  'begin_date': 'datetime64[ns]', 
                  'end_date': 'object',
                  'assmt_taxes': 'float64',
                  'pilot_contract_amt': 'float64',
       'pilot_debt_service_amt': 'float64', 
                  'difference': 'float64'}
df = cast_data_types(df, names_to_types)
df.dtypes

owner                       string[python]
location                    string[python]
pilot_parcel_no             string[python]
underlying_parcel_number    string[python]
begin_date                  datetime64[ns]
end_date                            object
assmt_taxes                        float64
pilot_contract_amt                 float64
pilot_debt_service_amt             float64
difference                         float64
dtype: object

In [24]:
# Save the now-clean csv and convert it to utf-8 format
outfile_path = "../data/processed/s10_2022_idb_bartlett.csv"
df.to_csv(outfile_path)
convert_utf8(original_file_path=outfile_path, new_file_path=outfile_path)